body, html{
	margin:0;
	font: 1em "Open Sans", sanss-serif;
	font-size:100%;
}

/*-------------------------Register/Login/Logout-----------------*/

.nav-register{
	width:100%;
	background-color: green;
	/*background: url('../images/entrepreneurship.png') no-repeat center;*/
	height:auto;

	font-size: 20px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	border: 5px solid #285189;
}
.nav-register .haha{
		margin: 0 auto;
margin-top: 65px;
}

/*responsive*/
@media screen and (max-width: 1250px){
.nav-register .haha{
margin-top: 0px;
}
}
/*responsive button*/
@media screen and (max-width: 550px){
	 .nav-register {
	width:100%;
	background-color: green;
	/*background: url('../images/entrepreneurship.png') no-repeat center;*/
	height:auto;

}
	 .nav-register .haha{
margin-top:0px;
}
}

/*-------------------------Discover the world of entrepreneurship-----------------*/
.nav-belowmenu{
	width:100%;
	background: url('../images/VideoLibrary.png') no-repeat center;
	height:100px;
	
	font-family: Arial-Regular;
	font-size: 25px;
	color: yellow;
	vertical-align: text-bottom;
	text-align: center;
	margin: 0 auto;
	border: 5px solid #285189;
}	

/* ------SUBMENU------ */
div ul{
  width:100%;
  background: url('../images/SubMenu.png') no-repeat center;
 /* background-color: gray;*/
  height:60px;
  border: 5px solid #285189;
}

.nav-blog{
	width:100%;
	background: url('../images/VideoLibrary.png') no-repeat center;
	height:auto;
	
	font-family: Arial-Regular;
	font-size: 35px;
	color: yellow;
	vertical-align: text-bottom;
	text-align: center;
	margin: 0 auto;
	border: 5px solid #285189;
}

.nav-blog h1{
    margin-top: 35px;
}

div.mainimage img {
	width:615px;
	max-width: 100%;
	height:auto;
}

img{
	width:500px;
	max-width: 100%;
	height:auto;
}

.btn{
	width:140px;
	height:20px;
}
.description{
	font-size:20px;
	text-align:left;
}
.verticalLine {
  border-right: 1px solid gray; 
  max-width: 100%;	
}
.sidebar{
	width:400px;
	max-width: 100%;
	height:auto;
}